/* font-family: 'Lato', sans-serif;
font-family: 'Red Hat Display', sans-serif; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px;
}

.title {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
}

.sub-title {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
}

/* Tablete size */
@media (max-width: 1200px) {
    .container {
        padding: 0 34px;
    }

    .title {
        font-size: 36px;
        line-height: 50px;
    }
}

/* Mobile size */
@media (max-width: 576px) {
    .container {
        padding: 0 10px;
    }

    .title {
        font-size: 30px;
        line-height: 50px;
    }
}

/* Global styles */


/* Section Hero */

.hero {
    background-image: url(../img/hero-bg.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 600px;
    padding-top: 100px;
    margin-bottom: 90px;
}

.hero__title {
    max-width: 770px;
}

@media (max-width: 1200px) {
    .hero {
        min-height: 320px;
        padding-top: 30px;
        margin-bottom: 70px;
    }

    .hero__title {
        max-width: 570px;
    }
}

@media (max-width: 576px) {
    .hero {
        min-height: 500px;
        padding-top: 70px;
    }
}

/* Section Hero End */

/* Section Blog */
.blog__title {
    margin-bottom: 50px;
}

.blog__item {
    display: flex;
    gap: 30px;
}

.blog__img {
    max-width: 570px;
}

.blog__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.blog__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 30px;
    color: #7B7B7B;
}

.blog__item-title {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    font-size: 23px;
    line-height: 38px;
    color: #000000;
    margin-bottom: 15px;
    max-width: 369px;
}