* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .block {
    
    justify-content: center;
    align-items: center;
  
    // --- Background, border, outline  background: transparent url('./image.png') no-repeat center / cover;
    border: 1px solid $color__Black;
    border-radius: $style__Border--Radius;
    outline: none;
  
    // --- Text  cursor: pointer;
    color: $color__Purple--Primary;
    font: 700 28px / 34px $font__Primary;
    text-align: center;
    text-transform: uppercase;
  
    // --- Spacing and sizing  padding-inline: $space__Grid--Inner;
    margin-inline: auto;
    width: min(100%, 500px);
    height: min(50vh, 1000px);
  
    // --- Less commonly used  opacity: 0.6;
    transition: $style__Transition--Default;
    transform: translate(50%, 50%);
    user-select: none;
    pointer-events: none;
  
    // --- Position (clockwise)z-index: 2;
    position: absolute;
    inset: 10px 20px 30px 40px;
  
    &::before,
    &::after {
      // --- Contentcontent: '';
      // --- Other rules according to style guide
    }
  } */


.title {
    display: block;

    width: 200px;
    height: 200px;

    background-color: red;
    background-image: url('https://www.humanesociety.org/sites/default/files/styles/1240x698/public/2020-07/kitten-510651.jpg?h=f54c7448&amp;itok=ZhplzyJ9');
    background-size: 500px;
    background-size: contain;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    /* Text   */
    font-family: 'Silkscreen', cursive;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    color: red;

}

.p {
    font-family: '', sans-serif;
}